@page
@model ACME.Web.Pages.IndexModel
@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Iniciar sesión";
}


<div class="login">
    <h1>Login</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Credentials.Username" class="control-label" />
        <input asp-for="Credentials.Username" class="form-control" />
        <span asp-validation-for="Credentials.Username" class="text-danger" />
        <label asp-for="Credentials.Password" class="control-label" />
        <input asp-for="Credentials.Password" class="form-control" />
        <span asp-validation-for="Credentials.Password" class="text-danger" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
</div>
