@page
@model Models.Credentials
@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Iniciar sesión";
}


<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="u" placeholder="Username" required="required" asp-for="Username" />
        <input type="password" name="p" placeholder="Password" required="required" asp-for="Password" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
</div>